[submodule "source/NRI"]
	path = source/NRI
	url = https://github.com/TeamForbiddenLLC/NRI.git
[submodule "source/vcpkg"]
	path = source/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "source/glslang"]
	path = source/glslang
	url = https://github.com/TeamForbiddenLLC/glslang.git
[submodule "source/tracy"]
	path = source/tracy
	url = https://github.com/wolfpld/tracy.git
